<div class="top">
  <div style="display: inline-block; max-width: 1280px;">
    <span style="float: left; width: 4%"><img src="/assets/img/char_albbano.webp" width="100%" style="border-radius: 20%"></span>
    <h2 style="float: left;">IROS STUDY</h2>
  </div>
</div>

<nav class="navbar">
  <a href="/mcp">MCP</a>
  <a href="/mcp_guide">MCP GUIDE(Claude)</a>
</nav>